<div class="todo-list">
  <h1>TODO LIST - FIREBASE CRUD</h1>
  <!-- Add Items Input -->
  <div class="add-container">
    <div *ngIf="editMode && todolist.length>0" class="editable-item">Change <strong>{{todolist && todolist[editableItem]}}</strong> to </div>
    <input [(ngModel)]="todoItem" type="text" name='todoItem' placeholder="{{editMode ? 'Enter Updatd Value' : 'Enter todo item'}}"/>
    <button *ngIf="!editMode" (click) = 'saveTodoItem()'> Add Item </button>
    <button *ngIf="editMode" (click) = 'updateItem()'> Update Item </button>
  </div>
  <table *ngIf="todolist.length > 0">
    <thead>
      <td>S.No</td>
      <td>Item Name</td>
      <td> Actions</td>
    </thead>
    <tr class="list-container" *ngFor="let item of todolist | keyvalue">
      <td>{{item.value.id}}</td>
      <td>{{item.value.name}}</td>
      <td><button class="edit-btn" (click)='editItem(item.value.id)'>Edit</button>
      <button (click)='deleteItem(item.value.id)'>Delete</button></td>
    </tr>
  </table>
</div>